.heading {
  font-size: 23px;
  width: 100%;
  margin: 0px;
  box-shadow: 5px 5px 5px grey;
}
.headingDiv {
  float: none;
  padding: 10px;
  background: white;
  border-radius: 20px;
  color: black;
  box-shadow: 5px 5px 5px grey;
}
.headingDiv2 {
  font-size: 18px;
}
.resultPTag {
  box-shadow: 5px 5px 5px grey;
  font-size: 20px;
}
.resultPTag span {
  white-space: pre-line;
}
.copy_right_footer {
  position: fixed;
  background-color: greenyellow;
  color: blue;
  bottom: 0;
  width: 100%;
  line-height: 3;
  text-align: center;
}
canvas {
  border: 5px dotted blueviolet;
  border-radius: 20px;
  margin-top: 160px;
  box-shadow: 5px 5px 10px yellow;
}
